/* Product Listing CSS */
.product-container {
  width: 100%;
  font-size: 15px;
  float: none;
  box-shadow: 0 2px 4px 0 #CCCCCC;
  border-radius: 5px;
  background: #FFFFFF;
  padding: 5px;
  border: 1px solid #CCCCCC; }

@media only screen and (min-width: 760px) {
  .product-container {
    width: 78%;
    float: right; } }

.product-container__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 15px; }

.product-container__header {
  background: #007AFF;
  padding: 10px;
  color: #FFFFFF;
  border-radius: 10px; }

.product-container__list-item {
  border-bottom: 1px solid #CCCCCC; }
  .product-container__list-item:last-child {
    border-bottom: none; }

.product-container__list-item-link {
  display: block;
  text-decoration: none;
  color: #000000;
  background-color: #FFFFFF;
  line-height: 30px;
  padding-left: 10px;
  padding-bottom: 7px;
  padding-top: 7px;
  cursor: pointer;
  border-radius: 10px; }
  .product-container__list-item-link:hover {
    background-color: #F1F1F1; }

.product-container__header-price {
  float: right;
  margin-right: 10px;
  color: #FFFFFF; }

.product-container__list-item-price {
  float: right;
  margin-right: 10px;
  color: #000; }

.product-container__list-item-price--changed {
  float: right;
  margin-right: 10px;
  color: #007AFF;
  font-weight: bold;
  -webkit-animation: flash linear 0.5s;
  animation: flash linear 0.5s; }

/* 
    Product grid animations
 */
@-webkit-keyframes flash {
  0% {
    opacity: 1; }
  50% {
    opacity: .1; }
  100% {
    opacity: 1; } }

.product-container__list-item-btn {
  width: 200px;
  background: #0600ff;
  border-radius: 20px;
  color: #fff;
  font-weight: 600; }

/* React Animation */
.product-enter {
  opacity: 0.01; }

.product-enter.product-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in; }

.product-leave {
  opacity: 1; }

.product-leave.product-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in; }

.product-appear {
  opacity: 0.01; }

.product-appear.product-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in; }

.class1 {
  color: green; }

.class2 {
  color: red; }
